<template>
    <div class="container">
        <h1>{{ $page.props.lang.title }}</h1>
        <to-do-list :to-do-list="toDoList"></to-do-list>
    </div>
</template>

<script>
import ToDoList from "../components/ToDoList.vue";

export default {
    name: "ToDoPage",
    components: {
        ToDoList,
    },
    props: {
        toDoList: Array,
    },
}
</script>
