<template>
    <ul class="list-group">
        <li
            v-for="todo in toDoList"
            :key="todo.id"
            class="list-group-item d-flex justify-content-between align-items-center"
        >
            <div class="form-check">
                <label
                    class="form-check-label"
                    :class="{ 'completed': todo.completed }"
                >
                    <input
                        type="checkbox"
                        v-model="todo.completed"
                        @change="updateTodo(todo)"
                        class="form-check-input"
                    >
                    {{ todo.title }}
                </label>
            </div>
            <button type="button" class="btn btn-close btn-sm" @click="deleteTodo(todo)"></button>
        </li>
    </ul>
    <br>
    <div class="input-group mb-3">
        <input type="text" class="form-control" v-model="newToDo">
        <button class="btn btn-success" type="button" @click="addTodo">{{ $page.props.lang.add_button }}</button>
    </div>
</template>

<script>
export default {
    name: "ToDoList",
    props: {
        toDoList: Array,
    },
    data() {
        return {
            newToDo: '',
        }
    },
    methods: {
        async addTodo() {
            if (this.newToDo.trim() === '') {
                return
            }

            let newToDo = this.newToDo
            let response = await axios.post(`/todo`, {
                title: newToDo,
            })
            this.toDoList.push(response.data)
            this.newToDo = '';
        },
        async updateTodo(todo) {
            await axios.put(`/todo/${todo.id}`, {
                completed: todo.completed
            });
        },
        async deleteTodo(todo) {
            await axios.delete(`/todo/${todo.id}`)
            this.toDoList.splice(this.toDoList.indexOf(todo), 1)
        },
    }
}
</script>

<style scoped>
.completed {
    text-decoration: line-through;
}
</style>
